body {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
}

.table {
    margin-top: 30px;
    margin-bottom: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-top: 1px solid rgba(255, 0, 0, 0.3);
    border-bottom: 1px solid rgba(255, 0, 0, 0.3);
}

.fa:hover {
    color: blue;
    cursor: pointer;
}

@media screen and (max-width: 700px) {
    th, td {
        border: 1px solid black;
    }
}

@media screen and (max-width: 450px) {
    h1 {
        margin: auto;
        transform: translateX(-50%);
        font-size: 30px;
    }

    .btn {
        margin: auto;
        transform: translateX(-50%);
    }
}

@media screen and (max-width: 370px) {
    h1 {
        margin-left: 30%;
    }

    .btn {
        margin-left: 30%;
    }
}

@media screen and (max-width: 290px) {
    h1 {
        margin-left: 35%;
    }
}